numpy==1.26.4
jupyterlab
ipywidgets
matplotlib
pysocks
tqdm
psutil

pandas==2.0.3
scikit-learn==1.2.2

transformers==4.44.2
trl==0.9.6
peft==0.12.0
xformers==0.0.27.post2
bitsandbytes==0.43.3

tensorboard
#vllm==0.6.1
vllm==0.6.1.post2

sentencepiece==0.2.0


#
sse_starlette==2.1.3
starlette_context==0.3.6
pydantic_settings==2.5.2

optuna==4.0.0
